* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.swiper-slide {
    height: 80vh;
}

.swiper-slide {
    
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 100px;
}

.slide-dw {
    background-image: url('dw-js.jpg');
    background-size: cover;
}

.slide-cd {
    background-image: url('cd-js.jpeg');
    background-size: cover;
}

.slide-cdeb {
    background-image: url('cdeb-js.jpg');
    background-size: cover;
}
.subtitle {
    color: #000000;
    font-size: 24px;
    text-transform: lowercase;
    letter-spacing: 3px;
}

.title {
    font-weight: bold;
    font-size: 72px;
    color: rgb(0, 0, 0);
    text-transform: lowercase;
}

body .swiper-pagination-bullet {
    width: 18px;
    height: 18px;
}

body .swiper-pagination-bullet-active {
    background: orangered;
}

body .swiper-button-next,
body .swiper-button-prev {
    color: orangered;
}